/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.grid {
    border: 1px solid black;
    padding: 5px;
    grid-column: span 2;
}

.grid-1 {
    grid-column: span 4;
    font-size: 18px;
}

.grid-10 {
    grid-row: 2 / 4;
    grid-column: 7 / span 2;
    display: flex;
    text-align: center;
}

.grid-10 span {
    transform: rotate(-90deg);
    width: 100%;
}

.grid-11{
    grid-column: span  4;
}

.grid-12 {
    grid-row: 2 / 4;
    grid-column: -1 / -3;
    position: relative;
}

.grid-12 span {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: rotate(90deg);
    transform-origin: right;
}

.grid-13 {
    grid-row: 3 / 5;
    grid-column: span 4;
    background-color: orange;
}

.grid-19,
.grid-20 {
    grid-column: span 3;
}

.grid-20 {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.grid-21 {
    position: relative;
    grid-column: span 1;
}

.grid-21 span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.grid-20 span,
.grid-21 span{
    color: red;
    padding-right: 3px;
}

.grid-22 {
    grid-column: span 5;
}

.grid-24 {
    background-color: greenyellow;
}